@import "../../variables";
@import "../../mixins";

.erfolge {
  align-items: center;
  color: $color-yellow;
  display: flex;
  flex-direction: column;

  &__constraint {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
  }
}
