@import "../../mixins";
@import "../../variables";

.tag {
  @include font-size(24);

  background-color: $color-dark-brown;
  border-radius: 10px;
  color: white;
  font-family: $font-mark;
  font-weight: 700;
  display: inline-block;
  line-height: 1;
  padding: 0.75rem 1.75rem;
}
