@import "../../../../variables";
@import "../../../../mixins";

.map {
  width: 100%;

  path {
    fill: white;
    fill-opacity: 1;
    opacity: 1;
  }

  &.leaflet-container {
    background: transparent;
  }

  .leaflet-city-marker,
  .leaflet-marker {
    fill: $color-dark-brown;
    stroke: $color-dark-brown;
    stroke-width: 0.2rem;
    z-index: 1000;
  }

  .leaflet-city-marker {
    fill: $color-yellow;
    stroke-width: 0;
    z-index: 500;
  }

  .leaflet-tooltip {
    @include font-size(12px);

    background: transparent;
    border: none;
    box-shadow: none;
    font-family: $font-mark;
    font-feature-settings: "ss01" on;
    font-weight: 700;
    line-height: 1.2;
    padding-left: 0.5rem;

    &::before {
      display: none;
    }
  }

  .leaflet-marker-tooltip {
    font-weight: 800;
    padding-left: 1.25rem;
    width: 15rem;
    white-space: normal;
  }

  .leaflet-marker:hover,
  .leaflet-marker:focus {
    fill: $color-yellow;
  }

  .leaflet-country {
    stroke: $color-yellow;
    stroke-width: 0.1rem;
  }

  // only do the hover effects, if the whole country is displayed
  &:not(&--single-state) .leaflet-country:hover,
  &:not(&--single-state) .leaflet-country:focus {
    fill: $color-yellow;
    stroke: white;
  }
}
