@import "../../mixins";
@import "../../variables";

.share {
  @include font-size(12px);

  background-color: $color-dark-brown;
  border-radius: 0.35rem;
  color: white;
  display: inline-block;
  font-family: $font-mark;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1rem;
  margin-right: 0.75rem;
  padding: 1rem 1rem 0.8rem 1rem;
  vertical-align: middle;

  @include mq($from: tablet) {
    padding: 1.2rem 0.9rem 1rem 0.9rem;
  }

  &:hover,
  &:focus {
    background-color: $color-yellow;
    color: $color-dark-brown;
  }

  .icon {
    margin-right: 0.3rem;
    transform: translateY(-0.15rem);
  }
}
