@import "../../mixins";
@import "../../variables";

.share {
  @include font-size(13px);

  background-color: $color-dark-brown;
  border-radius: 0.35rem;
  color: white;
  font-family: $font-mark;
  font-weight: 700;
  padding: 0.9rem 2.5rem;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: $color-yellow;
    color: $color-dark-brown;
  }

  & + & {
    margin-left: 1rem;
  }

  &--has-theme-white {
    background-color: white;
    color: $color-dark-brown;
  }

  .icon {
    margin-right: 0.5rem;
  }
}
