@import "../../../mixins";
@import "../../../variables";

$arrow: "<svg xmlns='http://www.w3.org/2000/svg' width='52' height='52'><path fill='%23D5C29D' d='M0 0h52v52H0z'/><path fill='%23fff' d='M26 35L14 19h24z'/></svg>";
$arrow-active: "<svg xmlns='http://www.w3.org/2000/svg' width='52' height='52'><path fill='%23493F39' d='M0 0h52v52H0z'/><path fill='%23fff' d='M26 35L14 19h24z'/></svg>";
$arrow-error: "<svg xmlns='http://www.w3.org/2000/svg' width='52' height='52'><path fill='%23EC0404' d='M0 0h52v52H0z'/><path fill='%23fff' d='M26 35L14 19h24z'/></svg>";

.select {
  flex: 1 1 100%;

  &--width-1-5 {
    flex-basis: 50%;

    @include mq($from: tablet) {
      flex-basis: 20%;
    }
  }

  &--has-error &__field {
    background-image: url("data:image/svg+xml;utf8," + $arrow-error);
    border-color: $color-red;
    color: $color-red;
  }

  &__field {
    @include font-size(18px);

    appearance: none;
    background-color: white;
    background-image: url("data:image/svg+xml;utf8," + $arrow);
    background-position: right center;
    background-repeat: no-repeat;
    border: 2px solid $color-light-brown;
    border-radius: 0;
    color: $color-dark-brown;
    font-family: $font-mark;
    font-weight: 700;
    padding: 1rem 0.5rem;
    width: 100%;

    @include mq($from: tablet) {
      padding: 1.05rem 0.75rem;
    }

    &:focus,
    &:hover {
      background-image: url("data:image/svg+xml;utf8," + $arrow-active);
      border-color: $color-dark-brown;
    }
  }
}
