@import "../../../mixins";
@import "../../../variables";

.button {
  @include font-size(16px);
  @include rem(border-radius, 8px);

  appearance: none;
  background-color: $color-dark-brown;
  border: none;
  color: currentColor;
  cursor: pointer;
  display: inline-block;
  font-family: $font-mark;
  font-weight: 700;
  line-height: 1;
  padding: 1.5rem 2.5rem;
  text-align: center;
  text-transform: uppercase;
  transition: transform 80ms ease;

  @include mq($from: tablet) {
    @include font-size(17px);

    padding: 1.75rem 3.5rem;
  }

  &:hover,
  &:focus {
    background-color: darken($color-dark-brown, 10%);
    transform: scale(1.02);
  }

  &:active {
    transform: translateY(1px)
  }

  &--theme-current {
    background-color: currentColor;

    &:hover,
    &:focus {
      background-color: darken($color-yellow, 10%);
    }
  }

  &--has-full-width {
    width: 100%;
  }

  &__children {
    color: white;
  }

  &--theme-current &__children {
    color: $color-dark-brown;
  }
}
