@import "../../../variables.scss";
@import "../../../mixins.scss";

.list {
  @include font-size(21px);

  margin-bottom: 3rem;
  margin-top: 0;

  &__item {
    > * {
      color: $color-dark-brown;
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}
