@import "../../mixins";
@import "../../variables";

.mitmachen {
  align-items: center;
  color: $color-yellow;
  display: flex;
  flex-direction: column;

  &__project-list-item {
    & + & {
      margin-top: 2.5rem;
    }
  }
}
