@import "../../mixins";
@import "../../variables";

.mitmachen {
  align-items: center;
  color: $color-yellow;
  display: flex;
  flex-direction: column;

  &--form {
    border-top: 5px solid $color-yellow;
    padding-top: 3rem;

    @include mq($from: tablet) {
      padding-top: 5rem;
    }
  }

  &__constraint {
    display: flex;
    flex-direction: column;

    @include mq($from: desktop) {
      flex-direction: row;
    }
  }

  &__content-container {
    display: flex;
    flex-direction: row;

    @include mq($from: desktop) {
      margin-right: 4.5rem;
      width: 60%;
    }
  }

  &__participate-container {
    flex: 1;
  }

  &__project-list {
    margin-bottom: 8rem;
    padding-left: 0;
  }

  &__project-list-item {
    & + & {
      margin-top: 2.5rem;
    }
  }
}
