@import "../../../mixins";
@import "../../../variables";

.paragraph {
  @include font-size(18px);

  color: $color-dark-brown;
  font-family: $font-adelle;
  line-height: 1.5;

  @include mq($from: tablet) {
    @include font-size(23px);
  }

  @include mq($from: desktop) {
    @include font-size(21px);
  }

  > a {
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}
