@import "../../../mixins";
@import "../../../variables";

.paragraph {
  @include font-size(16);

  color: $color-dark-brown;
  font-family: $font-adelle;
  line-height: 1.5;

  @include mq($from: tablet) {
    @include font-size(20);
  }
}
