@import "../../_mixins.scss";

.constraint {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 100%;

  .constraint {
    padding-left: 0;
    padding-right: 0;
  }

  @include mq($from: desktop) {
    width: 880px;
    padding-left: 0;
    padding-right: 0;
  }

  &--is-wide {
    @include mq($from: desktop) {
      width: 1120px;
    }
  }

  &--is-semi-wide {
    @include mq($from: desktop) {
      width: 1080px;
    }
  }
}
