@import "../../../mixins";
@import "../../../variables";

@import "~leaflet/dist/leaflet.css";

.leaflet-container {
  background: transparent;
}

.intro-filter {
  background-color: $color-yellow;
  display: flex;
  flex-direction: column;
  height: 95vh;
  margin-bottom: 5.5rem;
  width: 100%;

  &__map {
    fill: white;
    height: 90%;
    margin-left: 3rem;
    width: 35%;

    path {
      fill: white;
      fill-opacity: 1;
      opacity: 1;
      stroke: $color-yellow;
      stroke-width: 2px;
    }
  }

  &__filter {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  &__intro {
    color: $color-dark-brown;
    font-family:$font-adelle;
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
    margin-top: 0;
  }

  &__title-container {
    margin-left: 5rem;
    max-width: 60rem;
  }

  &__title {
    color: $color-dark-brown;
    font-family:$font-adelle;
    font-size: 4.5rem;
    font-weight: 800;
    line-height: 1.65;

    > .super-select:not(:nth-of-type(1)) {
      margin-left: 1.5rem;
    }
  }

  &__results-title-container {
    background-color: $color-dark-brown;
    justify-self: flex-end;
    margin-top: auto;
    padding: 1.5rem;

    .headline {
      margin-bottom: 0;
      text-align: center;
    }

    .headline__headline-content {
      color: white;
    }
  }
}
