@import "../../../mixins";
@import "../../../variables";

.intro-filter {
  align-items: center;
  background-color: $color-yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  width: 100%;

  @include mq($from: tablet) {
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
  }

  @include mq($from: desktop) {
    min-height: 85vh;
  }

  &__intro {
    @include font-size(16px);

    color: $color-dark-brown;
    font-family:$font-adelle;
    font-weight: 700;
    margin-bottom: 2.5rem;
    margin-top: 0;
  }

  &__map-container {
    flex-grow: 0;
    flex-shrink: 1;
    order: 2;
    width: 100%;

    @include mq($from: tablet) {
      display: flex;
      height: 100%;
      order: 0;
      width: 30%;
    }

    @include mq($from: desktop) {
      width: 50%;
    }

    .map {
      height: 40rem;

      @include mq($from: desktop) {
        height: 60rem;
      }
    }
  }

  &__title-container {
    flex-grow: 0;
    flex-shrink: 1;
    max-width: 60rem;

    @include mq($from: tablet) {
      margin-left: 3rem;
      margin-right: 3rem;
      width: 50%;
    }
  }

  &__title {
    @include font-size(20px);

    color: $color-dark-brown;
    font-family:$font-adelle;
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.65;

    @include mq($from: tablet) {
      @include font-size(28px);
    }

    @include mq($from: desktop) {
      @include font-size(38px);
    }

    .super-select {
      flex: 1;
      margin-bottom: 0.5rem;

      @include mq($from: tablet) {
        flex-grow: 0;
        margin-bottom: 0;
      }
    }
  }

  &__title-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 0.5rem;

    > * + .super-select {
      margin-left: 1.5rem;
    }
  }

  &__results-title-container {
    @include font-size(20px);

    background-color: $color-dark-brown;
    color: white;
    font-family: $font-mark;
    font-weight: 700;
    margin-bottom: 5.5rem;
    padding: 1.75rem 1.5rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    .headline {
      margin-bottom: 0;
      text-align: center;
    }

    .headline__headline-content {
      color: white;
    }
  }
}
