@import "../../../mixins";
@import "../../../variables";

.intro-filter {
  align-items: center;
  background-color: $color-yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 72vh;
  padding: 2rem;
  width: 100%;

  @include mq($from: tablet) {
    flex-direction: row;
    min-height: 85vh;
    padding-left: 0;
    padding-right: 0;
  }

  &__intro {
    color: $color-dark-brown;
    font-family:$font-adelle;
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
    margin-top: 0;
  }

  &__map-container {
    display: none;
    flex-grow: 0;
    flex-shrink: 1;
    height: 100%;
    width: 50%;

    @include mq($from: tablet) {
      display: flex;
    }
  }

  &__title-container {
    flex-grow: 0;
    flex-shrink: 1;
    max-width: 60rem;
    width: 50%;
  }

  &__title {
    color: $color-dark-brown;
    font-family:$font-adelle;
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.65;

    @include mq($from: tablet) {
      font-size: 4.5rem;
    }

    > .super-select:not(:nth-of-type(1)) {
      margin-left: 1.5rem;
    }
  }

  &__results-title-container {
    @include font-size(20px);

    background-color: $color-dark-brown;
    color: white;
    font-family: $font-mark;
    font-weight: 700;
    margin-bottom: 5.5rem;
    padding: 1.75rem 1.5rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    .headline {
      margin-bottom: 0;
      text-align: center;
    }

    .headline__headline-content {
      color: white;
    }
  }
}
