@import "../../../mixins";
@import "../../../variables";

.so-gehts {
  color: $color-green;

  &__download {
    color: $color-dark-brown;
    margin-bottom: 4rem;
    padding-bottom: 5rem;
    padding-top: 1rem;
    text-align: center;
  }

  &__download-text {
    @include font-size(18px);

    font-family: $font-mark;
    font-weight: 700;
    margin-bottom: 1.5rem;
    margin-top: 0;
  }
}
