@import "../../../../variables";
@import "../../../../mixins";

.super-select {
  border: 1px dashed currentColor;
  display: inline-block;
  line-height: 1;
  position: relative;

  &--is-open {
    z-index: 1000; // beat leflet
  }

  &__canvas {
    appearance: none;
    background: transparent;
    border: 0;
    color: currentColor;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    max-width: 50rem;
    overflow-x: hidden;
    padding: 0.75rem 4rem 0.25rem 1rem;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;

    @include mq($from: tablet) {
      padding-right: 5rem;
    }

    &:hover,
    &:focus {
      background-color: $color-dark-brown;
      color: $color-yellow;
      cursor: pointer;
      outline: none;
    }

    &::after {
      border-style: solid;
      border-width: 0.75rem 0.75rem 0 0.75rem;
      border-color: currentColor transparent transparent transparent;
      content: '';
      height: 0;
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      width: 0;

      @include mq($from: tablet) {
        border-width: 1.25rem 1.25rem 0 1.25rem;
      }
    }
  }

  &--is-open &__canvas::after {
    border-width: 0 0.75rem 0.75rem 0.75rem;
    border-color: transparent transparent currentColor transparent;

    @include mq($from: tablet) {
      border-width: 1.25rem 1.25rem 0 1.25rem;
    }
  }

  &__list {
    @include reset-list;

    background-color: $color-yellow;
    border: 1px dashed currentColor;
    display: none;
    font-size: 1.5rem;
    left: 0;
    margin-left: -1px;
    position: absolute;
    width: calc(100% + 2px);
    z-index: 10;

    > * + * {
      border-top: 1px dashed currentColor;
    }
  }

  &--is-open &__list {
    display: block;
  }

  &__list-item {
    @include font-size(16px);

    display: block;
    line-height: 1;
    padding: 1.5rem 1rem 1rem 1rem;

    @include mq($from: tablet) {
      @include font-size(18px);
    }

    &:hover,
    &:focus {
      background-color: $color-dark-brown;
      color: $color-yellow;
      cursor: pointer;
    }
  }
}
