@import "../../../mixins";
@import "../../../variables";

.blockquote {
  @include font-size(16px);

  background-color: $color-yellow;
  color: $color-dark-brown;
  font-family: $font-adelle;
  font-style: italic;
  font-weight: 700;
  line-height: 1.5;
  margin: 1.5rem 0 6rem 0;
  padding: 2.5rem;
  position: relative;

  @include mq($from: tablet) {
    @include font-size(20px);

    margin-bottom: 9rem;
    padding: 5rem;
  }

  &__inner {
    margin: 0;
    padding: 0;
  }

  &__author {
    @include font-size(16px);

    display: block;
    font-family: $font-mark;
    font-style: normal;
    margin-top: 2.5rem;
    text-transform: uppercase;
  }

  &::after {
    border-style: solid;
    border-width: 4rem 4rem 0 0;
    border-color: $color-yellow transparent transparent transparent;
    bottom: 0;
    content: '';
    height: 0;
    left: 25%;
    position: absolute;
    transform: translateY(100%);
    width: 0;

    @include mq($from: tablet) {
      border-width: 7.2rem 7.2rem 0 0;
    }
  }
}
