@import "../../mixins";
@import "../../variables";

.navigation {
  background-color: currentColor;
  color: $color-dark-brown;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: $font-mark;
  font-weight: 700;
  position: relative;

  @include mq($from: desktop) {
    background-color: transparent;
    flex-wrap: nowrap;
  }

  &__logo {
    @include font-size(14px);

    background-color: $color-dark-brown;
    color: white;
    padding: 1.75rem;
    text-transform: uppercase;
    white-space: nowrap;

    @include mq($from: tablet) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    @include mq($from: desktop) {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  &__toggle {
    @include font-size(14px);

    align-self: flex-end;
    appearance: none;
    background: transparent;
    border: 0;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-weight: 700;
    margin-left: auto;
    margin-right: 1.5rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    text-transform: uppercase;
    user-select: none;

    @include mq($from: desktop) {
      display: none;
    }

    &-icon {
      height: 1.65rem;
      margin-left: 0.5rem;
      vertical-align: middle;
      width: 1.65rem;
    }

    &-checkbox {
      display: none;
    }
  }

  &--is-open &__toggle-icon {
    display: none;
  }

  &__close-icon {
    display: none;
    height: 1.65rem;
    margin-left: 0.5rem;
    width: 1.65rem;
  }

  &--is-open &__close-icon {
    display: inline-block;
  }

  &__list {
    @include reset-list();

    display: none;
    flex-direction: column;
    width: 100%;

    @include mq($from: desktop) {
      display: flex;
      flex-direction: row;
      width: auto;
    }
  }

  &--is-open &__list,
  &__toggle-checkbox:checked ~ &__list {
    display: flex;
  }

  &__list-item {
    &--theme-mitmachen,
    &--theme-erfolge {
      color: $color-yellow;
    }

    &--theme-ueber-uns {
      color: $color-middle-brown;
    }

    &--theme-beratung {
      color: $color-purple;
    }

    &--theme-so-gehts {
      color: $color-light-blue;
    }

    & + & {
      @include mq($until: desktop) {
        border-top: 2px solid white;
      }
    }
  }

  &__item {
    @include font-size(18px);

    background-color: currentColor;
    display: block;
    padding: 1.75rem 2.5rem 1.75rem 2.5rem;
    text-transform: uppercase;
    white-space: nowrap;

    @include mq($from: desktop) {
      @include font-size(14px);

      background-color: transparent;
      padding-left: 3rem;
      padding-right: 3rem;
    }

    @include mq($from: wide) {
      padding-left: 4rem;
      padding-right: 4rem;
    }

    &:hover,
    &:focus,
    &.is-active {
      background-color: currentColor;
    }
  }

  &__list-item:hover &__item,
  &__list-item:focus &__item {
    background-color: currentColor;
  }

  &__item-label {
    color: $color-dark-brown;
    position: relative;
  }

  &__list-item--has-sub &__item-label {
    padding-right: 2rem;
  }

  &__list-item--has-sub &__item-label::after {
    border-style: solid;
    border-width: 0.65rem 0.65rem 0 0.65rem;
    border-color: currentColor transparent transparent transparent;
    content: '';
    display: none;
    height: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0;

    @include mq($from: desktop) {
      display: inline;
    }
  }

  &__sub {
    background-color: currentColor;
    flex-direction: column;
    padding-bottom: 2.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    width: 100%;
    z-index: 1000; // we have to beat leaflet here

    @include mq($from: desktop) {
      display: none;
      flex-direction: row;
      left: 0;
      min-height: 50vh;
      padding: 3.5rem 2.5rem 2.5rem 2.5rem;
      position: absolute;
      top: 100%;
    }
  }

  &__list-item:hover &__sub {
    display: flex;
  }

  &__sub-list {
    @include reset-list;

    color: $color-dark-brown;
    flex-basis: 33%;

    @include mq($from: desktop) {
      margin-right: 3.5rem;
    }

    > * {
      @include mq($until: desktop) {
        border-top: 1px dotted currentColor;
      }
    }

    > * + * {
      @include mq($from: desktop) {
        border-top: 1px dotted currentColor;
      }
    }
  }

  &__sub-item {
    @include font-size(22px);

    display: block;
    padding: 0.75rem 0 0.75rem 1.75rem;
    position: relative;

    &:hover,
    &:focus{
      text-decoration: underline;
    }
  }

  &__sub-item::before {
    border-style: solid;
    border-width: 0.7rem 0 0.7rem 0.7rem;
    border-color: transparent transparent transparent currentColor;
    content: '';
    height: 0;
    left: 0;
    position: absolute;
    top: 1.35rem;
    width: 0;
  }

  &__sub-teaser {
    display: none;
    flex-direction: row;
    width: 77%;

    @include mq($from: desktop) {
      display: flex;
    }
  }

  &__sub-teaser-image-container,
  &__sub-teaser-content-container {
    flex: 1;
    flex-basis: 50%;
  }

  &__sub-teaser-image-container {
    margin-right: 3.5rem;
  }

  &__sub-teaser-image-container img {
    height: auto;
    width: 100%;
  }

  &__sub-teaser-content {
    &-container {
      color: $color-dark-brown;
    }

    &-title {
      @include font-size(28px);

      font-family: $font-adelle;
      font-weight: 700;
    }

    &-intro {
      @include font-size(18px);

      font-family: $font-adelle;
      font-weight: 400;
      line-height: 1.5;
    }
  }

  &__sub-teaser:hover &__sub-teaser-content-title,
  &__sub-teaser:focus &__sub-teaser-content-title {
    text-decoration: underline;
  }
}
