@import "../../mixins";
@import "../../variables";

.navigation {
  color: $color-dark-brown;
  display: flex;
  flex-direction: row;
  font-family: $font-mark;
  font-weight: 700;
  text-transform: uppercase;

  &__logo {
    background-color: $color-dark-brown;
    color: white;
  }

  &__list {
    @include reset-list();

    display: flex;
    flex-direction: row;
    list-style: none;
  }

  &__item {
    display: block;

    &--theme-mitmachen.is-active,
    &--theme-mitmachen:hover,
    &--theme-mitmachen:focus,

    &--theme-erfolge.is-active,
    &--theme-erfolge:hover,
    &--theme-erfolge:focus{
      background-color: $color-yellow;
    }

    &--theme-ueber-uns.is-active,
    &--theme-ueber-uns:hover,
    &--theme-ueber-uns:focus {
      background-color: $color-middle-brown;
    }

    &--theme-beratung.is-active,
    &--theme-beratung:hover,
    &--theme-beratung:focus {
      background-color: $color-light-blue;
    }

    &--theme-so-gehts.is-active,
    &--theme-so-gehts:hover,
    &--theme-so-gehts:focus {
      background-color: $color-green;
    }
  }

  &__logo,
  &__item {
    @include font-size(14px);

    padding: 1.75rem 4rem;
  }
}
