@import "../variables";
@import "../mixins";

.start {
  align-items: center;
  color: $color-middle-brown;
  display: flex;
  flex-direction: column;

  .intro {
    .headline__headline {
      @include font-size(130px);

      font-weight: 800;
      line-height: 1;
      text-align: center;
    }

    .headline__headline-content {
      color: white;
    }
  }

  &__intro-divider {
    @include font-size(18px);

    background-color: $color-dark-brown;
    color: white;
    font-family: $font-mark;
    font-weight: 700;
    letter-spacing: 0.08rem;
    margin-top: -4rem;
    padding: 1.5rem;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    &::after {
      border-style: solid;
      border-width: 2.5rem 2.5rem 0 2.5rem;
      border-color: $color-dark-brown transparent transparent transparent;
      content: '';
      height: 0;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      top: 100%;
      width: 0;
    }
  }

  &__constraint {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
  }

  &__title-container {
    &--theme-mitmachen {
      color: $color-yellow;
    }

    &--theme-so-gehts {
      color: $color-light-blue;
    }

    &--theme-beratung {
      color: $color-purple;
    }
  }
}
