@import "../../../../mixins";
@import "../../../../variables";

.person-list__person {
  display: flex;
  flex-direction: column;

  @include mq($from: tablet) {
    flex-direction: row;
  }

  & + & {
    margin-top: 6rem;
  }

  &-image {
    object-fit: contain;
    width: 100%;

    @include mq($from: tablet) {
      width: 40%;
    }
  }

  &-content {
    flex: 1;
  }

  &:nth-child(2n) &-content {
    @include mq($from: tablet) {
      order: -1;
    }
  }

  &-phone,
  &-email {
    @include font-size(14px);

    color: $color-dark-brown;
    font-family: $font-mark;
    font-weight: 700;
    margin-bottom: 0.5rem;
    margin-top: 0;
    text-transform: uppercase;

    @include mq($from: tablet) {
      @include font-size(16px);
    }
  }
}
