@import "../../mixins";
@import "../../variables";

.block-content {
  @include font-size(20);

  align-items: center;
  color: $color-dark-brown;
  display: flex;
  flex-direction: column;
  font-family: $font-adelle;
  line-height: 1.5;
}
