@import "../../mixins";
@import "../../variables";

.block-content {
  @include font-size(20);

  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: $font-adelle;
  line-height: 1.5;

  &__paragraph {
    color: $color-dark-brown;
  }

  &__image {
    height: auto;
    max-width: 100%;

    @include mq($from: desktop) {
      margin-left: -2.5rem;
      margin-right: -2.5rem;
    }
  }

  &__headline-container {
    margin-bottom: 2rem;
    margin-top: 3rem;
  }

  &__headline {
    display: inline;
    border-bottom: 7px solid currentColor;
  }

  &__headline-content {
    color: $color-dark-brown;
  }
}
