@import "../../variables";
@import "../../mixins";

.alternating-list {
  @include reset-list;

  > * + * {
    margin-top: 2rem;

    @include mq($from: tablet) {
      margin-top: 3rem;
    }
  }

  &__container {
    align-items: center;
    display: flex;
    flex-direction: column;

    @include mq($from: tablet) {
      flex-direction: row;
    }
  }

  &__content-container {
    margin-top: 1.5rem;

    @include mq($from: tablet) {
      margin-left: 3.5rem;
      margin-top: 0;
      width: 55%;
    }
  }

  > *:nth-child(2n) .alternating-list__content-container {
    @include mq($from: tablet) {
      margin-left: 0;
      margin-right: 3.5rem;
      order: -1;
    }
  }

  > *:nth-child(2n+1) &__content-container {
    @include mq($from: tablet) {
      order: -1;
    }
  }

  &__image-container {
    flex: 1;
    text-align: center;

    img {
      height: auto;
      max-height: 25rem;
      max-width: 100%;
    }
  }
}
