@import "../../mixins";
@import "../../variables";

.participate {
  @include mq($from: desktop) {
    position: sticky;
    top: 0.5rem;
  }

  &__box {
    background-color: $color-dark-brown;
    border-radius: 1rem;
    color: white;
    margin-bottom: 2rem;
    padding: 3rem 2rem;

    .label__text {
      color: white;
    }
  }

  &__title {
    @include font-size(60px);

    color: $color-yellow;
    font-family: $font-adelle;
    margin-bottom: 0;
    margin-top: 0;
  }

  &__intro {
    @include font-size(20px);

    font-family: $font-adelle;
  }

  &__share-container {
    & + & {
      margin-left: 1rem;
    }
  }
}
