@import "../../mixins";
@import "../../variables";

.participate {
  padding-top: 1.5rem;

  @include mq($from: desktop) {
    padding-top: 0;
    position: sticky;
    top: 0.5rem;
  }

  &__box {
    background-color: $color-dark-brown;
    border-radius: 1rem;
    margin-bottom: 2rem;
    padding: 3rem 2rem;

    .label__text {
      color: white;
    }
  }

  &__title {
    @include font-size(32px);

    font-family: $font-adelle;
    margin-bottom: 1.5rem;
    margin-top: 0;

    @include mq($from: tablet) {
      @include font-size(35px);
    }

    @include mq($from: desktop) {
      @include font-size(38px);
    }
  }

  &__intro {
    @include font-size(17px);

    color: white;
    font-family: $font-adelle;
    line-height: 1.4;
    margin-top: 0;

    @include mq($from: tablet) {
      @include font-size(18px);
    }
  }
}
