@import "../../mixins";
@import "../../variables";

.participate {
  background-color: $color-dark-brown;
  border-radius: 1rem;
  color: white;
  padding: 3rem 2rem;
  position: sticky;
  top: 0.5rem;

  &__title {
    @include font-size(60px);

    color: $color-yellow;
    font-family: $font-adelle;
    margin-bottom: 0;
    margin-top: 0;
  }

  &__intro {
    @include font-size(20px);

    font-family: $font-adelle;
  }
}
