@import "../../mixins";
@import "../../variables";

.intro {
  background-color: currentColor;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem;
  min-height: 72vh;
  overflow: hidden;
  padding: 5rem 0;
  position: relative;
  width: 100%;

  @include mq($from: desktop) {
    min-height: 87vh;
  }

  &__constraint {
    display: flex;
    flex-direction: column;

    @include mq($from: tablet) {
      flex-direction: row;
    }
  }

  &__text {
    @include font-size(16);

    color: $color-dark-brown;
    font-family: $font-adelle;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0;
    margin-top: 0;

    @include mq($from: desktop) {
      @include font-size(28);
    }
  }

  &__content-container {
    flex: 1;
    position: relative;
    z-index: 2;
  }

  &__image-container {
    flex-basis: 100%;
    order: -1;

    @include mq($from: tablet) {
      flex-basis: 75%;
      margin-left: 4.5rem;
      order: 2;
    }
  }

  &__image {
    height: auto;
    width: 100%;
  }

  &__background-image {
    left: 50%;
    min-height: 100%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
  }
}
