@import "../../mixins";
@import "../../variables";

.intro {
  background-color: currentColor;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem;
  min-height: 72vh;
  overflow: hidden;
  padding: 5rem 1.5rem;
  position: relative;
  width: 100%;

  @include mq($from: desktop) {
    min-height: 87vh;
  }

  &__constraint {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;

    @include mq($from: tablet) {
      flex-direction: row;
    }
  }

  &__text {
    @include font-size(18px);

    color: $color-dark-brown;
    font-family: $font-adelle;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0;
    margin-top: 0;

    @include mq($from: tablet) {
      @include font-size(22px);
    }

    @include mq($from: desktop) {
      @include font-size(26px);
    }
  }

  &--with-image &__text {
    @include mq($from: tablet) {
      @include font-size(20px);
    }

    @include mq($from: desktop) {
      @include font-size(24px);
    }
  }

  &__content-container {
    flex: 1;
    position: relative;
    z-index: 2;
  }

  &__image-container {
    order: -1;

    @include mq($from: tablet) {
      flex-grow: 0;
      margin-left: 4.5rem;
      order: 2;
      width: 50%;
    }
  }

  &__image {
    height: auto;
    max-width: 100%;
  }

  &__background-image {
    left: 50%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
  }

  &--with-image .headline__headline {
    @include font-size(25px);

    font-weight: 800;

    @include mq($from: tablet) {
      @include font-size(60px);
    }

    @include mq($from: desktop) {
      @include font-size(60px);
    }
  }
}
