@import "../../mixins";
@import "../../variables";

.intro {
  align-items: center;
  color: $color-dark-brown;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 95vh;
  padding: 5rem;
  width: 100%;

  &--theme-mitmachen {
    background-color: $color-yellow;
  }

  &__title {
    @include font-size(120);

    display: inline-block;
    font-family: $font-adelle;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
  }
}
