@import "../../../mixins";
@import "../../../variables";

.label {
  &__text {
    @include font-size(14px);

    color: $color-dark-brown;
    display: block;
    font-family: $font-mark;
    font-weight: 700;
    margin-bottom: 0.3rem;
    margin-top: 0.5rem;
    text-transform: uppercase;

    @include mq($from: tablet) {
      @include font-size(18px);
    }
  }
}
