@import "./variables";
/* Note: this must be placed after the variables import */
@import "../node_modules/sass-mq/_mq";

@mixin reset-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@mixin rem($property, $values...) {
  $max: length($values);
  $remValues: '';

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i)) / 10;
    $remValues: #{$remValues + $value}rem;

    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  }

  #{$property}: $remValues;
}

@mixin font-size($size) {
  @include rem(font-size, $size);
}

@mixin two-column() {
  display: flex;
  justify-content: center;
  max-width: 100%;

  @include mq($from: tablet) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @include mq($from: desktop) {
    padding-right: 0;
  }

  @include mq($from: wide) {
    padding-left: 0;
  }

  &-constraint {
    display: flex;
    flex-direction: column;

    @include mq($from: desktop) {
      flex-direction: row;
    }
  }

  &-content-container {
    @include mq($from: desktop) {
      margin-right: 4.5rem;
      width: 60%;
    }
  }

  &-action-container {
    flex: 1;
    padding-right: 1rem;

    @include mq($from: wide) {
      padding-right: 0;
    }
  }
}
