/* Colors */

$color-light-brown: #D5C29D;
$color-middle-brown: #D5C29D;
$color-dark-brown: #493F39;
$color-yellow: #FFEE00;
$color-green: #80BE4B;
$color-purple: #B394CE;
$color-red: #EC0404;
$color-light-blue: #009FE3;
$color-light-grey: #EEEEEE;

/* Fonts */

$font-adelle: "Adelle", serif;
$font-mark: "Mark OT", sans-serif;

/* Breakpoints */

$mq-breakpoints: (
  mobile:  320px,
  tablet:  740px,
  desktop: 980px,
  wide:    1280px
);
