@import "../../../variables";
@import "../../../mixins";

.infobox {
  background-color: currentColor;
  margin: 2rem 0;
  padding: 1.5rem;

  @include mq($from: tablet) {
    padding: 3rem;
  }

  &__content-container {
    color: $color-dark-brown;

    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }
}
