@import "../../mixins";
@import "../../variables";

.project {
  color: $color-yellow;

  &__body {
    display: flex;
    justify-content: center;

    &-constraint {
      display: flex;
      flex-direction: row;
    }

    &-content-container {
      margin-right: 2.5rem;
      width: 50%;
    }

    &-participate-container {
      flex: 1;
    }
  }
}
