@import "../../mixins";
@import "../../variables";

.project {
  color: $color-yellow;

  &__body {
    display: flex;
    justify-content: center;

    @include mq($from: tablet) {
      padding-left: 4rem;
    }

    @include mq($from: wide) {
      padding-left: 0;
    }

    &-constraint {
      display: flex;
      flex-direction: column;

      @include mq($from: desktop) {
        flex-direction: row;
      }
    }

    &-content-container {
      margin-right: 4.5rem;

      @include mq($from: desktop) {
        width: 60%;
      }
    }

    &-participate-container {
      flex: 1;
    }
  }

  &__contact {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;

    &-title {
      @include font-size(26px);

      background-color: $color-yellow;
      color: $color-dark-brown;
      font-family: $font-adelle;
      font-weight: 700;
      padding: 1.5rem;
      text-align: center;
      width: 100%;
    }
  }

  &__contact-person-container {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  &__participate-fixed-button {
    display: none;

    @include mq($until: tablet) {
      border-radius: 0;
      bottom: 0;
      display: block;
      left: 0;
      position: fixed;
    }
  }
}
